<nav>
  <div class="header">
    <a href="/" class="title"><h1>Game Genie</h1></a>
  </div>
  <ul class="nav-ul">
    <li><a href="/" class="nav-li">Home</a></li>
    <!-- <li><a href="/">Game Genie</a></li> -->
  </ul>
</nav>