<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
  <div class="content">
    <%- include('./partials/nav.ejs') %>
    <h1>File Not Found lol</h1>
    <%- include('./partials/footer.ejs') %>
  </div>

</body>
</html>