<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
  <div class="container">
    <%- include('./partials/nav.ejs') %>
    <h2 class="game-title">Sonic Frontiers</h2>
    <div class="game-info row align-items-start">
      <div class="col">
        <img src="//images.igdb.com/igdb/image/upload/t_1080p/co1q9m.jpg" alt="kirby triple deluxe" class="game-box-art">
      </div>
      <div class="game-description col">
        <div class="info-piece">
          <h3>Game Summary</h3>
          <p>Sonic Frontiers is the first open world Sonic the Hedgehog game. This story takes Sonic to the Starfall islands, where his friends are trapped in a digital cyber space, and he must save his friends and uncover the truth that took place thousands of years ago.</p>
        </div>
        <div class="info-piece side-one">
          <h3>Platforms</h3>
          <p>Xbox Series X</p>
          <p>PS5</p>
          <p>Nintendo Switch</p>
          <p>PC</p>
          <p>3DS</p>
        </div>
        <div class="info-piece">
          <h3>Publisher(s)</h3>
          <p>SEGA</p>
          <p>Nintendo</p>
          <p>Capcom</p>
        </div>
        <div class="info-piece">
          <h3>Release Date</h3>
          <p>2022</p>
        </div>
        <div class="info-piece">
          <h3>Ratings</h3>
          <p>9/10</p>
        </div>
      </div>
    </div>

    <div class="slide-body">
      <div class="slider">
        <div class="slide-track">
          <div class="slide">
            <img src="/screenshot1.jpg" alt="screenshot1" class="img-scroll">
          </div>
          <div class="slide">
            <img src="/screenshot2.jpg" alt="screenshot2" class="img-scroll">
          </div>
          <div class="slide">
            <img src="/screenshot3.jpg" alt="screenshot3" class="img-scroll">
          </div>
          <div class="slide">
            <img src="/screenshot4.jpg" alt="screenshot4" class="img-scroll">
          </div>
          <div class="slide">
            <img src="/screenshot5.jpg" alt="screenshot5" class="img-scroll">
          </div>
          <!-- same slides doubled -->
          <div class="slide">
            <img src="/screenshot1.jpg" alt="screenshot1" class="img-scroll">
          </div>
          <div class="slide">
            <img src="/screenshot2.jpg" alt="screenshot2" class="img-scroll">
          </div>
          <div class="slide">
            <img src="/screenshot3.jpg" alt="screenshot3" class="img-scroll">
          </div>
          <div class="slide">
            <img src="/screenshot4.jpg" alt="screenshot4" class="img-scroll">
          </div>
          <div class="slide">
            <img src="/screenshot5.jpg" alt="screenshot5" class="img-scroll">
          </div>
        </div>
      </div>
    </div>

    <div class="slide-body">
      <div class="slider">
        <div class="slide-track">
          <div class="slide">
            <img src="/artwork1.jpg" alt="artwork1" class="img-scroll">
          </div>
          <div class="slide">
            <img src="/artwork2.jpg" alt="artwork2" class="img-scroll">
          </div>
          <div class="slide">
            <img src="/artwork3.jpg" alt="artwork3" class="img-scroll">
          </div>
          <div class="slide">
            <img src="/artwork4.jpg" alt="artwork4" class="img-scroll">
          </div>
          <div class="slide">
            <img src="/artwork5.jpg" alt="artwork5" class="img-scroll">
          </div>
          <!-- same slides doubled -->
          <div class="slide">
            <img src="/artwork1.jpg" alt="artwork1" class="img-scroll">
          </div>
          <div class="slide">
            <img src="/artwork2.jpg" alt="artwork2" class="img-scroll">
          </div>
          <div class="slide">
            <img src="/artwork3.jpg" alt="artwork3" class="img-scroll">
          </div>
          <div class="slide">
            <img src="/artwork4.jpg" alt="artwork4" class="img-scroll">
          </div>
          <div class="slide">
            <img src="/artwork5.jpg" alt="artwork5" class="img-scroll">
          </div>
        </div>
      </div>
    </div>

    <!-- <div>
      <h2>Screenshots</h2>
      <img src="/screenshot1.jpg" alt="screenshot1" class="art-image">
      <img src="/screenshot2.jpg" alt="screenshot2" class="art-image">
      <img src="/screenshot3.jpg" alt="screenshot3" class="art-image">
      <img src="/screenshot4.jpg" alt="screenshot4" class="art-image">
      <img src="/screenshot5.jpg" alt="screenshot5" class="art-image">
    </div> -->

    <!-- <div>
      <h2>Artwork</h2>
      <img src="/artwork1.jpg" alt="artwork1" class="art-image">
      <img src="/artwork2.jpg" alt="artwork2" class="art-image">
      <img src="/artwork3.jpg" alt="artwork3" class="art-image">
      <img src="/artwork4.jpg" alt="artwork4" class="art-image">
      <img src="/artwork5.jpg" alt="artwork5" class="art-image">
    </div> -->

    <%- include('./partials/footer.ejs') %>
  </div>

</body>
</html>