<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
  <div class="content container">
    <%- include('./partials/nav.ejs') %>
    <div class="list-of-games">
      <div class="gameElement">
        <h2 class="element-title">Sonic Frontiers</h2>
        <h2 class="element-year">2022</h2>
        <img src="/sonicFrontiers.jpg" alt="sonicFrontiers" class="element-image">
      </div>
      <div class="gameElement">
        <h2 class="element-title">Sonic Frontiers</h2>
        <h2 class="element-year">2022</h2>
        <img src="/sonicFrontiers.jpg" alt="sonicFrontiers" class="element-image">
      </div>
      <div class="gameElement">
        <h2 class="element-title">Sonic Frontiers</h2>
        <h2 class="element-year">2022</h2>
        <img src="/sonicFrontiers.jpg" alt="sonicFrontiers" class="element-image">
      </div>
      <div class="gameElement">
        <h2 class="element-title">Sonic Frontiers</h2>
        <h2 class="element-year">2022</h2>
        <img src="/sonicFrontiers.jpg" alt="sonicFrontiers" class="element-image">
      </div>
    </div>
    
    <%- include('./partials/footer.ejs') %>
  </div>

</body>
</html>