<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
  <div class="content">
    <%- include('./partials/nav.ejs') %>
    <h1>Sonic Frontiers</h1>
    <div class="game-info">
      <img src="/sonicFrontiers.jpg" alt="Sonic Frontiers" class="game-box-art">
      <div class="game-description">
        <h2>Game Summary</h2>
        <p>Sonic Frontiers is the first open world Sonic the Hedgehog game. This story takes Sonic to the Starfall islands, where his friends are trapped in a digital cyber space, and he must save his friends and uncover the truth that took place thousands of years ago.</p>
      </div>
    </div>
    
    <%- include('./partials/footer.ejs') %>
  </div>

</body>
</html>