<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
  <div class="container">
    <%- include('./partials/nav.ejs') %>
    <h2 class="game-title">Sonic Frontiers</h2>
    <div class="game-info row align-items-start">
      <div class="col">
        <img src="//images.igdb.com/igdb/image/upload/t_1080p/co1q9m.jpg" alt="kirby triple deluxe" class="game-box-art">
      </div>
      <div class="game-description col">
        <div class="info-piece">
          <h3>Game Summary</h3>
          <p>Sonic Frontiers is the first open world Sonic the Hedgehog game. This story takes Sonic to the Starfall islands, where his friends are trapped in a digital cyber space, and he must save his friends and uncover the truth that took place thousands of years ago.</p>
        </div>
        <div class="info-piece">
          <h3>Publisher(s)</h3>
          <p>SEGA</p>
        </div>
        <div class="info-piece">
          <h3>Release Date</h3>
          <p>2022</p>
        </div>
        <div class="info-piece">
          <h3>Platforms</h3>
          <p>Nintendo Switch</p>
        </div>
        <div class="info-piece">
          <h3>Ratings</h3>
          <p>9/10</p>
        </div>
      </div>
    </div>

    <div>
      <h2>Screenshots</h2>
      <img src="" alt="">
    </div>
    
    <%- include('./partials/footer.ejs') %>
  </div>

</body>
</html>