<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
  <div class="content container">
    <%- include('./partials/nav.ejs') %>
    <div class="list-of-games">
      <div class="gameElement">

        <img src="/sonicFrontiers.jpg" alt="sonicFrontiers" class="element-image">

      </div>
    </div>
    
    <%- include('./partials/footer.ejs') %>
  </div>

</body>
</html>