<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
  <div class="content">
    <%- include('./partials/nav.ejs') %>
      
    <div class="search-bar">
      <form action="/gameList" method="POST">
        <input type="text" placeholder="Search a Game..." name="term" class="searchbar">
        <button type="submit">Submit</button>
      </form>
    </div>
  </div>


  <%- include('./partials/footer.ejs') %>
</body>
</html>