<html lang="en">
<%- include('./partials/head.ejs') %>
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Noto+Sans:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic" rel="stylesheet" />

<body class="body-styling">
  <div class="content">
    <%- include('./partials/nav.ejs') %>
  
    <div class="wrapper">

      <!-- Form Beginning -->
      <form action="/whatToPlay" method="POST" class="whatToPlayCSS">

        <!-- Genre Options -->
        <div class="formPart checkgroup1">
          <h3 class="form-header">Genre</h3>
          <div>
            <input type="checkbox" value="8" id="8" name="genreOption" class="genreOption">
            <label for="8">Platformer</label>
          </div>
          
          <div>
            <input type="checkbox" value="31" id="31" name="genreOption" class="genreOption">
            <label for="31">Adventure</label>
          </div>

          <div>
            <input type="checkbox" value="25" id="25" name="genreOption" class="genreOption">
            <label for="25">Hack and slash/Beat 'em up</label>
          </div>

          <div>
            <input type="checkbox" value="4" id="4" name="genreOption" class="genreOption">
            <label for="4">Fighting</label>
          </div>

          <div>
            <input type="checkbox" value="32" id="32" name="genreOption" class="genreOption">
            <label for="32">Indie</label>
          </div>

          <div>
            <input type="checkbox" value="9" id="9" name="genreOption" class="genreOption">
            <label for="9">Puzzle</label>
          </div>

          <div>
            <input type="checkbox" value="12" id="12" name="genreOption" class="genreOption">
            <label for="12">Role-playing (RPG)</label>
          </div>

          <div>
            <input type="checkbox" value="5" id="5" name="genreOption" class="genreOption">
            <label for="5">Shooter</label>
          </div>

          <div>
            <input type="checkbox" value="10" id="10" name="genreOption" class="genreOption">
            <label for="10">Racing</label>
          </div>

          <div>
            <input type="checkbox" value="13" id="13" name="genreOption" class="genreOption">
            <label for="13">Simulator</label>
          </div>

          <div>
            <input type="checkbox" value="14" id="14" name="genreOption" class="genreOption">
            <label for="14">Sport</label>
          </div>

          <div>
            <input type="checkbox" value="15" id="15" name="genreOption" class="genreOption">
            <label for="15">Strategy</label>
          </div>

          <div>
            <input type="checkbox" value="16" id="16" name="genreOption" class="genreOption">
            <label for="16">Turn-based strategy (TBS)</label>
          </div>

          <div>
            <input type="checkbox" value="33" id="33" name="genreOption" class="genreOption">
            <label for="33">Arcade</label>
          </div>

          <div>
            <input type="checkbox" value="34" id="34" name="genreOption" class="genreOption">
            <label for="34">Visual Novel</label>
          </div>

          <div>
            <input type="checkbox" value="35" id="35" name="genreOption" class="genreOption">
            <label for="35">Card & Board Game</label>
          </div>

          <div>
            <input type="checkbox" value="36" id="36" name="genreOption" class="genreOption">
            <label for="36">MOBA</label>
          </div>

          <div>
           <input type="checkbox" value="Doesn't matter" id="Doesn't matter" name="genreOption">
            <label for="Doesn't matter">Doesn't matter</label> 
          </div>
        </div>

        <!-- Theme Options -->
        <div class="formPart">
          <h3 class="form-header">Theme</h3>
          <div>
            <input type="checkbox" value="1" id="1" name="themeOption">
            <label for="1">Action</label>
          </div>
          <div>
            <input type="checkbox" value="17" id="17" name="themeOption">
            <label for="17">Fantasy</label>
          </div>
          <div>
            <input type="checkbox" value="18" id="18" name="themeOption">
            <label for="18">Science Fiction</label>
          </div>
          <div>
            <input type="checkbox" value="19" id="19" name="themeOption">
            <label for="19">Horror</label>
          </div>
          <div>
            <input type="checkbox" value="20" id="20" name="themeOption">
            <label for="20">Thriller</label>
          </div>
          <div>
            <input type="checkbox" value="21" id="21" name="themeOption">
            <label for="21">Survival</label>
          </div>
          <div>
            <input type="checkbox" value="22" id="22" name="themeOption">
            <label for="22">Historical</label>
          </div>
          <div>
            <input type="checkbox" value="23" id="23" name="themeOption">
            <label for="23">Stealth</label>
          </div>
          <div>
            <input type="checkbox" value="27" id="27" name="themeOption">
            <label for="27">Comedy</label>
          </div>
          <div>
            <input type="checkbox" value="28" id="28" name="themeOption">
            <label for="28">Business</label>
          </div>
          <div>
            <input type="checkbox" value="31" id="31" name="themeOption">
            <label for="31">Drama</label>
          </div>
          <div>
            <input type="checkbox" value="32" id="32" name="themeOption">
            <label for="32">Non-fiction</label>
          </div>
          <div>
            <input type="checkbox" value="33" id="33" name="themeOption">
            <label for="33">Sandbox</label>
          </div>
          <div>
            <input type="checkbox" value="34" id="34" name="themeOption">
            <label for="34">Educational</label>
          </div>
          <div>
            <input type="checkbox" value="35" id="35" name="themeOption">
            <label for="35">Kids</label>
          </div>
          <div>
            <input type="checkbox" value="38" id="38" name="themeOption">
            <label for="38">Open world</label>
          </div>
          <div>
            <input type="checkbox" value="39" id="39" name="themeOption">
            <label for="39">Warfare</label>
          </div>
          <div>
            <input type="checkbox" value="40" id="40" name="themeOption">
            <label for="40">Party</label>
          </div>
          <div>
            <input type="checkbox" value="43" id="43" name="themeOption">
            <label for="43">Mystery</label>
          </div>
          <div>
            <input type="checkbox" value="44" id="44" name="themeOption">
            <label for="44">Romance</label>
          </div>
          <div>
            <input type="checkbox" value="Doesn't matter" id="Doesn't matter" name="themeOption">
            <label for="Doesn't matter">Doesn't matter</label>
          </div>
        </div>
        <div class="formPart">
          <h3 class="form-header">How Old</h3>
          <div>
            <input type="radio" value="inOneYear" id="inOneYear" name="ageOption" required>
            <label for="inOneYear">Recent (>1 year)</label>
          </div>
          <div>
            <input type="radio" value="inThreeYears" id="inThreeYears" name="ageOption" required>
            <label for="inThreeYears">Somewhat recent (1-3 years)</label>
          </div>
          <div>
            <input type="radio" value="older" id="older" name="ageOption" required>
            <label for="older">Older (3+ years)</label>
          </div>
          <div>
            <input type="radio" value="Doesn't matter" id="Doesn't matter" name="ageOption" required>
            <label for="Doesn't matter">Doesn't matter</label>
          </div>
        </div>
        <button>Find a Game!</button>
      </form>
    </div>


  </div>


  <%- include('./partials/footer.ejs') %>
  <script>

  </script>
</body>
</html>