.content {
  max-width: 80%;
}

.header {
  text-align: center;
  margin: auto;
}

.nav-list {
  text-align: center;
}

.search-bar {
  text-align: center;
}

.game-title {
  padding: 10px;
}

.game-info {
  /* justify-content: center; */
}

.game-box-art {
  max-width: 70%;
  height: auto;
  float: right;
  padding-right: 10px;
}

.game-description {
  float: left;
  padding-left: 10px;
  text-align: left;
}

.info-piece {
  margin-top: 5px;
  margin-bottom: 5px;
}

ul {
  list-style-type: none;
}

footer {
  text-align: center;
}