.content {
  max-width: 80%;
  margin: auto;
}

.header {
  text-align: center;
  margin: auto;
}

.nav-list {
  text-align: center;
  list-style-type: none;
}

.search-bar {
  text-align: center;
}

.game-title {
  padding: 10px;
  text-align: center;
}

.game-box-art {
  max-width: 70%;
  height: auto;
  float: right;
  padding-right: 10px;
}

.game-description {
  float: left;
  padding-left: 10px;
  text-align: left;
}

.info-piece {
  margin-top: 5px;
  margin-bottom: 5px;
}

.container {
  justify-content: center;
  align-items: center;
  margin: auto;
}
/* potential mobile styling
.container {
  display: flex;

  justify-content: center;
} */

.list-header {
  background-color: #888;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: nowrap;
}

div.gameElement:nth-child(even) {
  background: #CCC;
}
div.gameElement:nth-child(odd) { 
  background: #EEE;
}

.element-image-title {
  height: auto;
  max-width: 300px;
  display: inline-flex;
  padding-left: 0%;
  justify-content: center;
}

.element-image {
  max-width: 300px;
  display: inline-block;
  padding: 0%;
  width: 5em;
  height: auto;
  object-fit: cover;
}

.element-title {
  display: inline-flex;
  justify-content: center;
  max-width: 250px;
  align-items: center;
  margin: auto;
}

.element-release-date {
  display: inline-flex;
  justify-content: center;
  max-width: 250px;
  align-items: center;
  margin: auto;
}

.element-company {
  display: inline-flex;
  justify-content: center;
  max-width: 250px;
  margin-left: 100px;
  align-items: center;
}

.element-company {
  display: inline-flex;
  justify-content: center;
  max-width: 250px;
  align-items: center;
  margin: auto;
}

footer {
  text-align: center;
}